$primaryColor: #005288;
$primaryColor2: #003865;
$danger: #dc3545;

$lightGrey: #d3d7d9;
$greyColor: #bfbfbf;
$darkGrey: #555;
$dark: black;

$lightBlueColor: #70b9eb;

$white: white;
$secondWhite: #eff4f9;
$controlTextColor : #646464;
$controlBorderColor : #e6e6e6;



