<div class="modal-header">
  <button class="btn btn-default push-5-r" (click)="close()" type="button" title="{{('Label.Close'| translate)}}">
    <i class="si si-close"> </i>
  </button>
  <h3 class="block-title">
    {{ "Label.SpecWithLMC" | translate }}
  </h3>
</div>
<div class="modal-body">
  <div class="row overflow-auto">
    <form [formGroup]="formInput">
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.ParameterName" | translate }}:</label>
        <div class="col-sm-9">
          <j-auto-complete-parameter-management [parameterManagementTypeId]="lPositionParameterType" formControlName="parameterManagement">
          </j-auto-complete-parameter-management>
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isParameterManagementModified()">
            <small *ngIf="isParameterManagementEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.DimensionNumber" | translate }}:</label>
        <div class="col-sm-9">
          <j-auto-complete-part-dimension formControlName="dimensionNumber" (onSelect)="onDimensionNumberSelect($event)"
          (onUnselect)="unSelectDimensionNumber($event)">
          </j-auto-complete-part-dimension>
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isDimensionNumberModified()">
            <small *ngIf="isDimensionNumberEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.SpecLimitAtMMC" | translate }}:</label>
        <div class="col-sm-2">
          <input id="specLimitAtMMC" type="text" class="form-control" formControlName="specLimitAtMMC"
          [attr.disabled]="isDimensionGeometryTolerance?'true':null"
            placeholder="00.00000" autocomplete="off" appMaxFraction [fraction]="minFractionDigits" />
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isSpecLimitAtMMCModified()">
            <small *ngIf="isSpecLimitAtMMCEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.SpecLimitAtLMC" | translate }}:</label>
        <div class="col-sm-2">
          <input id="specLimitAtLMC" type="text" class="form-control" formControlName="specLimitAtLMC"
          [attr.disabled]="isDimensionGeometryTolerance?'true':null"
            placeholder="00.00000" autocomplete="off" appMaxFraction [fraction]="minFractionDigits" />
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isSpecLimitAtLMCModified()">
            <small *ngIf="isSpecLimitAtLMCEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.Spec" | translate }}:</label>
        <div class="col-sm-2">
          <input id="spec" type="text" class="form-control" formControlName="spec"
          [attr.disabled]="!isDimensionGeometryTolerance?'true':null"
            placeholder="00.00000" autocomplete="off" appMaxFraction [fraction]="minFractionDigits" />
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isSpecModified()">
            <small *ngIf="isSpecEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.UOM" | translate }}:</label>
        <div class="col-sm-9">
          <j-auto-complete-uom formControlName="uom">
          </j-auto-complete-uom>
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isUOMModified()">
            <small *ngIf="isUOMEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.InstrumentType" | translate }}:</label>
        <div class="col-sm-9">
          <j-auto-complete-instrument-type formControlName="instrumentType" [config]="instrumentTypeAutoCompleteConfig">
          </j-auto-complete-instrument-type>
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isInstrumentTypeModified()">
            <small *ngIf="isInstrumentTypeEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 col-form-label">{{ "Label.DataType" | translate }}:</label>
        <div class="col-sm-9">
          <p-radioButton class="inputRadioButton" *ngFor="let type of dataTypeList" name="dataType" [value]="type.name" [label]="type.name"
            formControlName="dataType" [inputId]="type.name"></p-radioButton>
        </div>
        <div class="offset-3 col-sm-9">
          <ng-container *ngIf="isDataTypeModified()">
            <small *ngIf="isDataTypeEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-primary" [disabled]="!formInput.valid || !formInput.dirty"
    (click)="activeModal.close(formInput.value)">
    {{ "Label.Add" | translate }}
  </button>
  <button type="button" class="btn btn-default" (click)="close()">
    {{ "Label.Cancel" | translate }}
  </button>

</div>
