<div class="content">
  <div class="block block-rounded">
    <div class="block-header border-bottom">
      <button class="btn btn-default push-5-r" type="button" (click)="cancel()" title="{{ 'Label.Back' | translate }}">
        <i class="si si-action-undo"> </i>
      </button>
      <h3 class="block-title">
        {{ "Label.BuyerConfiguration" | translate }}
        <i *ngIf="isAsycValidationPending()" class=" fa fa-spinner fa-spin text-info ml-auto"></i>
      </h3>
      <div class="block-options">
        <button type="button" class="btn btn-primary" (click)="saveForm()" [disabled]="isSaveDisabled()"
          data-dismiss="modal" title="{{ 'Label.Save' | translate }}">
          <i class=" fa fa-floppy-o"></i> {{ "Label.Save" | translate }}
        </button>
      </div>
    </div>
    <div class="block-content contentHeight">
      <div class="row overflow-auto">
        <form [formGroup]="formInput">
          <div class="row form-group ">
            <label class="col-sm-1 col-form-label">{{ "Label.Name" | translate }}:</label>
            <div class="col-sm-11">
              <input id="name" type="text" class="form-control" formControlName="name" maxlength="50" />
            </div>
            <div class="offset-1 col-sm-11">
              <ng-container *ngIf="isNameModified()">
                <small *ngIf="isNameEmpty()" class="form-text text-danger">
                  {{ "Message.Required" | translate }}
                </small>
                <small *ngIf="isNameHasWhiteSpace()" class="form-text text-danger">
                  {{ "Message.BlankName" | translate }}
                </small>
                <small *ngIf="isNameExists()" class="text-danger">
                  {{ "Message.NameExists" | translate }}
                </small>
              </ng-container>
            </div>
          </div>
          <div class="row form-group ">
            <label class="col-sm-1 col-form-label">{{ "Label.BuyerCode" | translate }}:</label>
            <div class="col-sm-11">
              <input id="buyerCode" type="text" class="form-control" formControlName="buyerCode" maxlength="100" />
            </div>
            <div class="offset-1 col-sm-11">
              <ng-container *ngIf="isBuyerCodeModified()">
                <small *ngIf="isBuyerCodeEmpty()" class="form-text text-danger">
                  {{ "Message.Required" | translate }}
                </small>
                <small *ngIf="isBuyerCodeHasWhiteSpace()" class="form-text text-danger">
                  {{ "Message.BlankName" | translate }}
                </small>
                <!-- <small *ngIf="isNameExists()" class="text-danger">
                  {{ "Message.NameExists" | translate }}
                </small> -->
              </ng-container>
            </div>

          </div>
          <div class="row form-group ">
            <label class="col-sm-1 col-form-label">{{ "Label.Email" | translate }}:</label>
            <div class="col-sm-11">
              <input id="buyerMail" type="text" class="form-control" formControlName="buyerMail" maxlength="100" />
            </div>
          </div>
          <div class="offset-1 col-sm-11">
            <ng-container *ngIf="isBuyerMailModified()">
              <small *ngIf="isBuyerMailEmpty()" class="form-text text-danger">
                {{ "Message.Required" | translate }}
              </small>
              <small *ngIf="isBuyerMailHasWhiteSpace()" class="form-text text-danger">
                {{ "Message.BlankName" | translate }}
              </small>
              <!-- <small *ngIf="isNameExists()" class="text-danger">
                {{ "Message.NameExists" | translate }}
              </small> -->
            </ng-container>
          </div>
          <div class="row form-group " [hidden]="true">
            <label class="col-sm-2 col-form-label">{{ "Label.IsValid" | translate }}:</label>
            <div class="col-sm-10">
              <div class="custom-control custom-switch">
                <input type="checkbox" [hidden]="true" class="custom-control-input" id="isValid" name="isValid" formControlName="isValid">
                <!-- <label class="custom-control-label" for="IsValid" title="
                  {{formInput.controls['IsValid'].value
                        ? ('Label.IsValid' | translate)
                        : ('Label.Disabled' | translate)
                  }}"></label> -->
              </div>
            </div>
          </div>
          <div class="row form-group ">
            <label class="col-sm-2 col-form-label">{{ "Label.Status" | translate }}:</label>
            <div class="col-sm-10">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="isEnabled" name="isEnabled"
                  formControlName="isEnabled">
                <label class="custom-control-label" for="isEnabled" title="
                  {{formInput.controls['isEnabled'].value
                        ? ('Label.Enabled' | translate)
                        : ('Label.Disabled' | translate)
                  }}"></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
