<div class="modal-header">
  <button class="btn btn-default push-5-r" (click)="close()" type="button" title="{{('Label.Close'| translate)}}">
    <i class="si si-close"> </i>
  </button>
  <h3 class="block-title">
    {{ "Label.DefectType" | translate }}
  </h3>
</div>
<div class="modal-body">
  <div class="row overflow-auto">
    <form [formGroup]="formInput">
      <div class="row form-group">
        <label class="col-sm-2 col-form-label">{{ "Label.DefectType" | translate }}:</label>
        <div class="col-sm-8">
          <j-auto-complete-defect-type [sectionId]="sectionId" formControlName="defectTypes" [isDisabled]="isViewDisable"
          [config]="defectTypesConfig" [multiple]="isMultipleSelection">
          </j-auto-complete-defect-type>
        </div>
        <div class="offset-2 col-sm-9">
          <!-- <ng-container *ngIf="isDefectTypeModified()">
            <small *ngIf="isisDefectTypeModifiedEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container> -->
        </div>
      </div>

      <div class="row form-group" *ngIf="!isMultipleSelection">
        <label class="col-sm-2 col-form-label">{{ "Label.FailQty" | translate }}:</label>
        <div class="col-sm-8">
          <input id="defectQty" type="text" class="form-control" formControlName="defectQty" #defectQty
            maxlength="50" />
          <!-- <ng-container *ngIf="isFailQtyModified()">
            <small *ngIf="isisFailQtyEmpty()" class="form-text text-danger">
              {{ "Message.Required" | translate }}
            </small>
          </ng-container> -->
        </div>

        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" [disabled]="!formInput.valid || !formInput.dirty"
            (click)="addDefectTypeQty()">
            {{ "Label.Add" | translate }}
          </button>
        </div>
      </div>
      <div class="row form-group" *ngIf="!isMultipleSelection">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <app-configuration-ptable [column]="defectTypeQtyColumns" [enableSkeleton]="false"
            [source]="defectTypeQtyParameters" [enableDetail]="false" [enableToggle]="false" [enableEdit]="false"
            [paginator]="false" [showInactiveStatus]="false" [enableDelete]="true" [enableAuditTrail]="false"
            [enablePaginator]="false" [enableTblBottomPageInfo]="false" [enableColumnFilter]="false"
            (deleteEvent)="deleteDefectTypeQty($event)">
          </app-configuration-ptable>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">

  <button type="button" *ngIf="!isViewDisable" class="btn btn-primary"
    [disabled]="this.detail.supplierMeasurementSubmissionId === 0 && !defectTypeQtyParameters.length"
    (click)="activeModal.close(formInput.value)">
    {{ "Label.Save" | translate }}
  </button>
  <button type="button" class="btn btn-default" (click)="close()">
    {{ "Label.Cancel" | translate }}
  </button>

</div>
