<div class="content">
    <div class="block block-rounded">
      <div class="block-header border-bottom">
        <button class="btn btn-default push-5-r" type="button" [routerLink]="['../']"
          title="{{ 'Label.Back' | translate }}">
          <i class="si si-action-undo"> </i>
        </button>
        <h3 class="block-title">
          {{ "Label.PurchaseOrder" | translate }}
        </h3>
        <div class="block-options">       
        </div>
        <div class="block-options lastSAPSyncDate">
          <label class="lbl1" title="Last SAP Sync Date">
            {{ "Label.LastSAPSyncDate"  | translate }}:
          </label>
          &nbsp;
          <label class="lbl" title="Last SAP Sync Date">
              {{   lastSAPSyncDate  }}
          </label>
        </div>
      </div>

    </div>
    <div class="row form-group"></div>
    <div class="row form-group">
      <label class="col-sm-2 col-form-label">{{ "Label.PartNumber" | translate }}:</label>
      <div class="col-sm-10">
        <input id="partNumber" type="text" (ngModelChange)="isPartNumberEmpty()" [(ngModel)]="partNumber"
          class="form-control" maxlength="200" />
      </div>
      <div class="offset-2 col-sm-10">
        <ng-container *ngIf="!isPartNoFilled">
          <small *ngIf="!isPartNoFilled" class="form-text text-danger">
            {{ "Message.Required" | translate }}
          </small>
        </ng-container>         
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 col-form-label">{{ "Label.VendorCode" | translate }}:</label>
      <div class="col-sm-10">
        <input id="vendorCode" type="text" class="form-control" id="vendorCode" maxlength="200" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4"></div>
        <div class="col-sm-2">
        <button *ngIf="canCreate" class="btn btn-primary" type="button" (click)="syncFromSAP()"
        title="{{ 'Label.Sync' | translate }}" [disabled]="!isPartNoFilled">
        <i class="fa fa-sync"></i> {{ "Label.Sync" | translate }}
      </button>
    </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" 
        (click)="search()" data-dismiss="modal" title="{{ 'Label.Search' | translate }}" [disabled]="!isPartNoFilled">
        <i class=" fa fa-floppy-o"></i> {{ "Label.Search" | translate }}
      </button>
      </div>
    
    
      <div class="col-sm-2"></div>
      <div class="scrollMenu">
        <div>
          <app-configuration-ptable [column]="displayColumns" [source]="dataSource" [totalRecords]="totalRecords"
            [first]="first" (editEvent)="editRecord($event)" (toggleEvent)="toggleStatus($event)"
            (deleteEvent)="deleteRecord($event)"  (auditTrailEvent)="showAuditLog($event)"
            (filterEvent)="onFilterEvent($event)" (pageSortEvent)="onPageSortEvent($event)" [enableEdit]="false"
            [enableDelete]="false" [enableDetail]="false" [tableWidth]="150" [enableAuditTrail]="false" (exportEvent)="onExportEvent($event)">          
          </app-configuration-ptable>
        </div>
      </div>
    </div>
  </div>
  