<!-- Sidebar -->
<!--
      Sidebar Mini Mode - Display Helper classes

      Adding 'smini-hide' class to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
      Adding 'smini-show' class to an element will make it visible (opacity: 1) when the sidebar is in mini mode
          If you would like to disable the transition animation, make sure to also add the 'no-transition' class to your element

      Adding 'smini-hidden' to an element will hide it when the sidebar is in mini mode
      Adding 'smini-visible' to an element will show it (display: inline-block) only when the sidebar is in mini mode
      Adding 'smini-visible-block' to an element will show it (display: block) only when the sidebar is in mini mode
  -->
<nav id="sidebar" aria-label="Main Navigation">
    <!-- Side Header -->
    <div class="content-header bg-white-5">
        <!-- Logo -->
         <span>E</span>
          <!--<a class="font-w600 text-dual smini-hide" aria-label="index button" [routerLink]="['/Home']" [routerLinkActive]="['active-link']">
            {{applicationName}}
          </a> -->
          <a [routerLink]="['/Home']" class="font-w600 text-dual smini-hide">
            <img src="{{ 'Image.eIQCSideLogo' | translate }}"  width="100px" />


          </a>
          
        <!-- END Logo -->

        <!-- Options -->
        <div>


            <!-- Close Sidebar, Visible only on mobile screens -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <a class="d-lg-none text-dual ml-3" data-toggle="layout" data-action="sidebar_close"
                href="javascript:void(0)">
                <i class="fa fa-times"></i>
            </a>
            <!-- END Close Sidebar -->
        </div>
        <!-- END Options -->
    </div>
    <!-- END Side Header -->

    <!-- Side Navigation -->
    <div class="content-side content-side-full">
        <ul class="nav-main">
            <li *ngFor="let element of elements" [ngClass]="{'nav-main-item  menu-item:hover': !element.isHeading,'nav-main-heading': element.isHeading}">
                <a *ngIf="!element.isHeading && element.isActive" class="nav-main-link" [routerLink]="element.href">
                    <i class="nav-main-link-icon" [className]="element.icon"></i>
                    <span class="nav-main-link-name">{{ "Label." + element.name | translate }}</span>
                </a>
                <div *ngIf="element.isHeading">{{ "Label." + element.name | translate }}</div>
            </li>

        </ul>
    </div>
    <!-- END Side Navigation -->
</nav>
<!-- END Sidebar -->




